* {
    margin: 0;
    max-width: 1920px;
}

html, body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px
}

nav {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 80px;
    background-color: rgba(0,0,0,0.4);
    z-index: 201
}

.bgSection {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.betweenSection {
    height: 40%;
}

.bgSectionOne {
    background-image: url(../images/1-1.jpg)
}

.bgSectionTwo {
        background-image: url(../images/2.jpg)

}



.textFly {
    list-style: none;
    position: absolute;
    color: #123;
    font-size: 3em;
    font-weight: 800;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    left: 55%;
    top: 30%;

    -webkit-transform: translateX(-30%) translateY(-50%);
            transform: translateX(-30%) translateY(-50%)
}

.textFly li {
    display: inline-block;
    opacity: 1;
    -webkit-transition: all 3s ease;
    transition: all 3s ease
}

.textFly.hidden li { opacity: 0 }

.textFly.hidden li:nth-child(1) {-webkit-transform: translateX(-200px) translateY(-200px);transform: translateX(-200px) translateY(-200px)}
.textFly.hidden li:nth-child(2) {-webkit-transform: translateX(100px) translateY(-10px);transform: translateX(100px) translateY(-10px)}
.textFly.hidden li:nth-child(3) {-webkit-transform: translateX(140px) translateY(180px);transform: translateX(140px) translateY(180px)}
.textFly.hidden li:nth-child(4) {-webkit-transform: translateX(-200px) translateY(280px);transform: translateX(-200px) translateY(280px)}
.textFly.hidden li:nth-child(5) {-webkit-transform: translateX(-155px) translateY(-25px);transform: translateX(-155px) translateY(-25px)}
.textFly.hidden li:nth-child(6) {-webkit-transform: translateX(70px) translateY(45px);transform: translateX(70px) translateY(45px)}
.textFly.hidden li:nth-child(7) {-webkit-transform: translateX(-80px) translateY(80px);transform: translateX(-80px) translateY(80px)}
.textFly.hidden li:nth-child(8) {-webkit-transform: translateX(-199px) translateY(75px);transform: translateX(-99px) translateY(75px)}
.textFly.hidden li:nth-child(9) {-webkit-transform: translateX(300px) translateY(-40px);transform: translateX(300px) translateY(-40px)}
.textFly.hidden li:nth-child(10) {-webkit-transform: translateX(430px) translateY(-110px);transform: translateX(430px) translateY(-110px)}



.trainee {
    position: absolute;
  font-family: "Open Sans",  Impact;
  text-align:center;
  font-size:3em;
  color:#fff;
  letter-spacing: -4px;
  font-weight:400;
  font-style: italic;
  text-transform:uppercase;
  animation:blur 4s ease-in-out;
  animation-delay: 1s;
  transition-delay: 1s;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
   -webkit-transform: translateX(10%) translateY(40%);
            transform: translateX(10%) translateY(40%);
            left: 50%;
    top: 35%;
    opacity: 1;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}



.lotus {
    position: relative;

    
}

#lotus {
 
position:fixed;
bottom: 200;
left:10;
width:50px;
height:50px;
background:#ccc;
z-index:9999;
}

.cd-wrapper {
	display: inline-block;
	margin: 0 auto;
}
.cntSeparator {
	font-size: 50px;
	line-height: 70px;
	margin: 0 10px;
}
.cd-wrapper .d div {
	float: left;
	text-align: center;
	width: 104px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0 0 36px;
}
.cd-wrapper .d div:first-child {
	margin-left: 1px;
}
.clear {
	clear: both;
}
