

html, body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 30px 0;
    background-color: #555;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 1000000000;
}

nav.hidden {
    transform: translate3d(0,-100%,0);
}

nav ul li {
    display: inline-block;
    margin-right: 60px;
}

nav ul li:last-child {
    margin-right: 0px;
}
nav ul li:first-child {
    text-align: left;
}


nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: Areal, sans-serif;
    font-size: 1.5em;
}

    

.bgSection {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
 
    background-position:center;
}


.betweenSection {
    height: 40%;
    background: #333;

}

#About {
    height: 40%;
    margin-left: 40px;
    margin-right: 40px;
    top: 50%;
    position: relative;
    border-radius: 50px;
    box-shadow: 0 0 80px 3px RGBA(74, 143, 210, 0.91);
    
}

#tabs {
    height:100%;
    border-radius: 20px;
}


#SuitMe {
bottom: 16%;
left: 35%;
display: none;
position: absolute;
height: 70%;
width: 60%;
}



#lotus {
bottom: 10%;
position: absolute;
height: 40%;
width: 30%;
background-image: url(../images/k-foo.png);
background-repeat: no-repeat;
background-size: contain;
display: none;

}
    
    
    


.bgSectionOne {
    background-image: url(../images/1-1.jpg);
    height: 200%;
}

.bgSectionTwo {
        background-image: url(../images/2.jpg);
        position: relative;

}



.textFly {
    list-style: none;
    position: absolute;
    color: #123;
    font-size: 3em;
    font-weight: 800;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    left: 55%;
    top: 30%;

    -webkit-transform: translateX(-30%) translateY(-50%);
            transform: translateX(-30%) translateY(-50%)
}

.textFly li {
    display: inline-block;
    opacity: 1;
    -webkit-transition: all 2s ease;
    transition: all 2s ease
}

.textFly.hidden li { opacity: 0 }

.textFly.hidden li:nth-child(1) {-webkit-transform: translateX(-350px) translateY(200px);transform: translateX(-350px) translateY(200px)}
.textFly.hidden li:nth-child(2) {-webkit-transform: translateX(100px) translateY(-10px);transform: translateX(100px) translateY(-10px)}
.textFly.hidden li:nth-child(3) {-webkit-transform: translateX(140px) translateY(180px);transform: translateX(140px) translateY(180px)}
.textFly.hidden li:nth-child(4) {-webkit-transform: translateX(-200px) translateY(280px);transform: translateX(-200px) translateY(280px)}
.textFly.hidden li:nth-child(5) {-webkit-transform: translateX(-155px) translateY(-25px);transform: translateX(-155px) translateY(-25px)}

.trainee {
    position: absolute;
  font-family: "Open Sans",  Impact;
  text-align:center;
  font-size:3em;
  color:#fff;
  letter-spacing: -4px;
  font-weight:400;
  font-style: italic;
  text-transform:uppercase;
  animation:blur 3s ease-in-out;
  animation-delay: 1s;
  transition-delay: 1s;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
   -webkit-transform: translateX(10%) translateY(40%);
            transform: translateX(10%) translateY(40%);
            left: 50%;
    top: 35%;
    opacity: 1;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}


